//Dimensions
$max-content-width: 900px;
$nav-height: 60px;
$nav-logo-width: 50px;

//Colors
$dark-gray: #333;
$green: #5AC032;
$dark-green: #061002;
$red: #c70000;
$turquoise: #107C64;
$section-header-shadow: #ccc;